<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="fa fa-id-card"></i><span class="nav-text">Staff Details</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="fa fa-users"></i><span class="nav-text">Tesmonials Details</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="fa fa-bandcamp"></i><span class="nav-text">Service Details</span>
                </a>
            </li>
        </ul>
    </div>
</div>
