@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Service Title</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ServiceID</th>
            <td>@item.Title</td>
            <td><a href="/Service/DeleteService/@item.ServiceID" class="btn mb-1 btn-danger">Delete <span class="btn-icon-right"><i class="fa fa-close"></i></span></a></td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn mb-1 btn-primary">Update <span class="btn-icon-right"><i class="fa fa-upload color-success"></i></span></a></td>
        </tr>
    }
</table>
<a href="/Service/AddService/" class="btn btn-info">Add New Service</a>

